@import '~app/app.vars.scss';

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 300px;
  background-color: rgba(255,255,255,1);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader {
  width: 100px;
  height: 100px;
  position: relative;
}

.preloader__bounce-1 {
  border: 1px solid #5c7bf7;
}
.preloader__bounce-2 {
  border: 1px solid #5c7bf7;
}

.preloader__bounce-1,
.preloader__bounce-2 {
  box-shadow: inset 0 0 5px rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5c7bf7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader__bounce-2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.1);
  } 50% {
    transform: scale(1.0);
  }
}
