<table class="
  slds-table
  slds-no-row-hover
  slds-table_cell-buffer
  grs-table
  ">
  <thead class="grs-table__thead">
    <tr class="slds-text-title_caps">
      <th scope="col" class="grs-table__th slds-cell-shrink">
        <div class="slds-truncate"></div>
      </th>
      <th scope="col" class="grs-table__th">
        <div class="slds-truncate" title="Account Name">Account Name</div>
      </th>
      <th scope="col" class="grs-table__th">
        <div class="slds-truncate" title="Close Date">Close Date</div>
      </th>
      <th scope="col" class="grs-table__th">
        <div class="slds-truncate" title="Stage">Stage</div>
      </th>
      <th scope="col" class="grs-table__th">
        <div class="slds-truncate" title="Confidence">Confidence</div>
      </th>
      <th scope="col" class="grs-table__th">
        <div class="slds-truncate" title="Amount">Amount</div>
      </th>
      <th scope="col" class="grs-table__th slds-cell-shrink">
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="grs-table__tbody">
    <tr class="grs-table__tr">
      <td class="grs-table__td">
        <div>
          <grs-checkbox checked="true"></grs-checkbox>
        </div>
      </td>
      <td data-label="Account Name" class="grs-table__td">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
      <td data-label="Close Date" class="grs-table__td">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting" class="grs-table__td">
        <div class="slds-truncate" title="Prospecting">Prospecting</div>
      </td>
      <td data-label="Confidence" class="grs-table__td">
        <div class="slds-truncate" title="20%">20%</div>
      </td>
      <td data-label="Amount" class="grs-table__td">
        <div class="slds-truncate" title="$25k">$25k</div>
      </td>
      <td class="grs-table__td">
        <grs-icon-action type="preview"></grs-icon-action>
        <grs-icon-action type="edit" class="slds-m-left_x-small"></grs-icon-action>
        <grs-icon-action type="delete" class="slds-m-left_x-small"></grs-icon-action>
        <grs-icon-action type="duplicate" class="slds-m-left_x-small"></grs-icon-action>
      </td>
    </tr>
    <tr class="grs-table__tr">
      <td class="grs-table__td">
        <div>
          <grs-checkbox></grs-checkbox>
        </div>
      </td>
      <td data-label="Account Name" class="grs-table__td">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
      <td data-label="Close Date" class="grs-table__td">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting" class="grs-table__td">
        <div class="slds-truncate" title="Prospecting">Prospecting</div>
      </td>
      <td data-label="Confidence" class="grs-table__td">
        <div class="slds-truncate" title="20%">20%</div>
      </td>
      <td data-label="Amount" class="grs-table__td">
        <div class="slds-truncate" title="$25k">$25k</div>
      </td>
      <td class="grs-table__td">
        <grs-icon-action type="preview"></grs-icon-action>
        <grs-icon-action type="edit" class="slds-m-left_x-small"></grs-icon-action>
        <grs-icon-action type="delete" class="slds-m-left_x-small"></grs-icon-action>
        <grs-icon-action type="duplicate" class="slds-m-left_x-small"></grs-icon-action>
      </td>
    </tr>
  </tbody>
</table>
