<tr aria-level="level" aria-posinset="1" aria-setsize="4" class="slds-hint-parent" tabindex="0">
  <th class="slds-tree__item" data-label="Account Name" scope="row">
    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small slds-m-right_x-small slds-is-disabled"
      aria-hidden="true" tabindex="-1" title="Expand Rewis Inc">
      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
      </svg>
      <span class="slds-assistive-text">Collapse Rewis Inc</span>
    </button>
    <div class="slds-truncate" title="Rewis Inc">
      <a href="javascript:void(0);" tabindex="-1">Rewis Inc</a>
    </div>
  </th>
  <td data-label="Employees" role="gridcell">
    <div class="slds-truncate" title="3,100">3,100</div>
  </td>
  <td data-label="Phone Number" role="gridcell">
    <div class="slds-truncate" title="837-555-1212">837-555-1212</div>
  </td>
  <td data-label="Account Owner" role="gridcell">
    <div class="slds-truncate" title="Jane Doe">
      <a href="javascript:void(0);" tabindex="-1">Jane Doe</a>
    </div>
  </td>
  <td data-label="Billing City" role="gridcell">
    <div class="slds-truncate" title="Phoenix, AZ">Phoenix, AZ</div>
  </td>
  <td class="slds-cell-shrink" role="gridcell">
    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true"
      tabindex="-1" title="More actions for Rewis Inc">
      <svg class="slds-button__icon slds-button__icon_hint slds-button__icon_small" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
      </svg>
      <span class="slds-assistive-text">More actions for Rewis Inc</span>
    </button>
  </td>
</tr>
