@import "~app/app.vars";

:host {
  display: block;
}

.data-table {
  border-top: none;
  border-bottom: none;
    th,
    td {
        font-size: 14px;
        font-family: map-get($map: $font, $key: family);
        color: map-get(map-get($map: $font, $key: colors), brand);
    }
    thead {
      tr {
        border-bottom: none;
      }
      th {
        color: map-get(map-get($map: $font, $key: colors), brand);
        background: #f7f7f7;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        border-top: none !important;
        border-bottom: 1px solid darken(#f0f0f0, 5%);
      }
    }
    tbody {
      tr:hover {
        td,
        th {
          box-shadow: none !important;
          // background-color: map-get(map-get($map: $colors, $key: info), lighten);
          // border-bottom: 1px solid map-get(map-get($map: $colors, $key: info), base);

          // border-bottom: 1px solid darken(#fff9f5, 10%);
          // background-color: rgba(#f0f0f0, 0.15);
          background-color: transparent;
        }
      }
      th {
        border-top: none !important;
        border-bottom: 1px solid transparent;
      }
      td {
        border-top: none;
        border-bottom: 1px solid #f1f1f1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
      tr:last-child {
        td {
          border-bottom: transparent;
          border-bottom: 1px solid darken(#f0f0f0, 2%);
        }
      }
      tr:nth-child(even) {
        td {
          background-color: lighten(#f9f9f9, 1%);
        }
      }
    }
}
