<table
  class="
    slds-table
    slds-table_bordered
    data-table
    "
  role="grid"
  >
  <thead>
    <tr class="slds-line-height_reset">
      <th scope="col">
        <grs-checkbox></grs-checkbox>
      </th>
      <th
        *ngFor="let header of headers"
        aria-sort="none"
        class="slds-text-title_caps"
        scope="col"
        >
        <a
          class="slds-text-link_reset"
          href="javascript:void(0);"
          role="button"
          tabindex="-1"
          >
          <span class="slds-truncate">
            {{ header }}
          </span>
        </a>
      </th>
      <th scope="col" style="width: 3.25rem;">
        <div class="slds-th__action">
          <span class="slds-assistive-text">Actions</span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="slds-hint-parent"
      *ngFor="let row of rows"
      >
      <td class="slds-text-align_right" role="gridcell">
        <grs-checkbox [checked]="row.case"></grs-checkbox>
      </td>
      <th scope="row" tabindex="0">
        <div class="slds-truncate">
          <a
            href="javascript:void(0);"
            tabindex="-1"
            >
            {{row.sku}}
          </a>
        </div>
      </th>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.item}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.quantity}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.purchaseOrder}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.price}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.totalPrice}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate" *ngIf="row.case">
          <grs-icon-action
            type="shipping"
            subtype="case"
            [options]="{
              size: 'small'
            }"
            ></grs-icon-action>
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.status}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.clientBillingStatus}}
        </div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate">
          {{row.supplierBillingStatus}}
        </div>
      </td>
      <td>
        <div class="slds-grid slds-grid_align-end">
          <grs-icon-action type="preview"></grs-icon-action>
          <grs-icon-action class="slds-m-left_xx-small" type="edit"></grs-icon-action>
          <grs-icon-action class="slds-m-left_xx-small" type="delete"></grs-icon-action>
        </div>
      </td>
    </tr>
  </tbody>
</table>
