<div class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center">
  <div class="slds-grid slds-grid_vertical-align-center">
    <div style="width: 250px">
      <grs-lookup></grs-lookup>
    </div>
    <div class="slds-m-left_x-small" style="width: 250px">
      <grs-select></grs-select>
    </div>
    <div class="slds-m-left_x-small" style="width: 250px">
      <div class="slds-form-element">
          <div class="
            slds-form-element__control
            slds-input-has-icon
            slds-input-has-icon_right
            ">
            <grs-input icon="true"></grs-input>
          </div>
      </div>
    </div>
  </div>

  <div>
      <grs-action type="brand">Approve</grs-action>
  </div>

</div>
<div class="slds-m-top_medium">
  <grs-data-table></grs-data-table>
</div>

<div class="slds-m-top_medium slds-grid slds-grid_align-center">
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    >
  </mat-paginator>

</div>
