@import '~app/app.vars.scss';

:host {
  display: block;
}

.grs-icon-action {
    border: none;
    border-radius: 0.125rem;
    color: #49464c !important;
    &:hover,
    &:focus {
        background-color: map-get(map-get($map: $colors, $key: primary), hoverlight);
        color: #9493a9;
    }
    &:focus {
        box-shadow: 0 0 2px darken(#F0F3F5, 2%);
    }
    &:active {
        background-color: darken(#F0F3F5, 2%);
    }
}

.grs-icon-action_small {
  width: 1.75rem;
  height: 1.75rem;
  .grs-icon-action__button-icon {
    width: 1rem;
    height: 1rem;
  }
}

.grs-icon-action_x-small {
  width: 1rem;
  height: 1rem;
  .grs-icon-action__button-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.grs-icon-action_dark {
  &:hover,
  &:focus {
    background-color: map-get(map-get($map: $colors, $key: neutral), base);
  }
  color: map-get($map: map-get($map: $font, $key: colors), $key: brand) !important;
}


.grs-icon-action__button-icon {
    width: 1.25rem;
    height: 1.25rem;
}


.grs-icon-action_straight {
  border-radius: 0;
}

.grs-icon-action_transparent {
  background-color: transparent;
}

.grs-icon-action_case {
  background-color: #FFD740;

  &:hover,
  &:focus {
    background-color: #FFC400;
  }
}
