:host {
  display: block;
}

.grs-icon-action {
  border-radius: 0.125rem;
  border-color: #e8e8e8 !important;
  color: #49464c !important;
}

.grs-icon-action__button-icon {
  width: 1.25rem;
  height: 1.25rem;
}
