@import '~app/app.vars.scss';

:host {
    display: block;
}

.grs-action {
    text-transform: uppercase;
    font-size: 12px;
    color: #9493a9;
    vertical-align: middle;
    transition: all 0.15s linear;
    border-radius: 0.125rem;
    box-shadow: none;
    font-weight: 600;
    letter-spacing: 0.065rem;
    &[disabled] {
        background: transparent;
        color: lighten(#9493a9, 2%);
        opacity: 0.45;
    }
}

.grs-action_brand {
    background-color: #5e7ef7;
    color: #fff;
    border-radius: 0.125rem;
    &:hover {
      color: #fff;
      background-color: darken(#5e7ef7, 2%);
    }
    &:focus {
      background-color: darken(#5e7ef7, 3%);
      box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
    }
    &[disabled] {
        background: #dce4e9;
        box-shadow: none;
        border-color: none;
        color: darken(#e2e0eb, 10%);
    }
}

.grs-action_neutral {
    border: 1px solid #5e7ef7;
    color: #5e7ef7;
    background-color: #fff;
    &:hover {
      color: #5e7ef7;
      background-color: #fff;
    }
    &:focus {
      color: #5e7ef7;
      box-shadow: none;
      background-color: #fff;
    }
}

.grs-action_size-full {
  display: block;
  width: 100%;
}
