:host {
    display: block;
}

.grs-action {
    text-transform: uppercase;
    font-size: 11px;
    color: #9493a9;
    vertical-align: middle;
    transition: all 0.15s linear;
    border-radius: 0.125rem;
    &:hover,
    &:focus {
        background-color: #F0F3F5;
        color: #9493a9;
    }
    &:focus {
        box-shadow: 0 0 2px darken(#F0F3F5, 2%);
    }
    &:active {
        background-color: darken(#F0F3F5, 2%);
    }
    &[disabled] {
        background: transparent;
        color: lighten(#9493a9, 2%);
        opacity: 0.45;
    }
}

.grs-action_brand {
    box-shadow: none;
    // background-color: #5227ff;
    background: transparent;
    border: 1px solid lighten(#5227ff, 10%);
    color: #5227ff;
    &:hover,
    &:focus {
        color: #fff;
        border: 1px solid #5227ff;
        background-color: #5227ff;
    }
    &:focus {
      box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
    }
    &:active {
        border-color: none;
        background-color: #5227ff;
        box-shadow: inset 0 0 2px rgba(0,0,0,0.35);
    }
    &[disabled] {
        background: #dce4e9;
        box-shadow: none;
        border-color: none;
        color: darken(#e2e0eb, 10%);
    }
}

.grs-action_neutral {
    border: none;
    &:hover,
    &:focus {
      background-color: lighten(#F0F3F5, 2%);
    }
    &:focus {
      box-shadow: none;
    }
    &:active {
      background-color: lighten(#F0F3F5, 1%);
    }
}
