<div class="slds-form slds-form_stacked tab-details__form">

  <div class="slds-form-element">
    <label class="slds-form-element__label">Project Name</label>
    <div class="slds-form-element__control">
      <grs-input></grs-input>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Project Street</label>
    <div class="slds-form-element__control">
      <grs-input></grs-input>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Project City</label>
    <div class="slds-form-element__control">
      <grs-input></grs-input>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Project State</label>
    <div class="slds-form-element__control">
      <grs-select></grs-select>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Public</label>
    <div class="slds-form-element__control">
      <grs-toggle></grs-toggle>
    </div>
  </div>

  <div class="slds-form-element">
      <label class="slds-form-element__label">Description</label>
      <div class="slds-form-element__control">
        <grs-textarea></grs-textarea>
      </div>
    </div>


</div>
