<nav class="
  slds-grid
  grs-wizard__steps
  ">
  <div
    class="
      slds-p-vertical_x-small
      slds-p-horizontal_small
      slds-size_1-of-{{steps.length}}
      grs-wizard__step
      "
    [ngClass]="{
      'grs-wizard__step_is-active' : step.state === 'active',
      'grs-wizard__step_is-inactive' : step.state === 'inactive',
      'grs-wizard__step_is-complete' : step.state === 'complete'
    }"
    *ngFor="let step of steps"
    >
    <div class="
      grs-wizard__step-container
      slds-grid
      slds-grid_vertical
      slds-grid_vertical-align-center
      ">
      <div class="slds-m-bottom_x-small grs-wizard__step-icon">
        <grs-icon type="{{step.icon}}"></grs-icon>
      </div>
      <div class="grs-wizard__step-label">
        {{step.label}}
      </div>
    </div>
  </div>
</nav>

<div class="slds-container_small slds-container_center slds-m-bottom_medium slds-m-top_large slds-p-top_large">
  <grs-wizard-step-1 *ngIf="steps[0].state === 'active'"></grs-wizard-step-1>
  <grs-wizard-step-2 *ngIf="steps[1].state === 'active'"></grs-wizard-step-2>
  <grs-wizard-step-3 *ngIf="steps[2].state === 'active'"></grs-wizard-step-3>
</div>

<div class="slds-grid slds-grid_align-center">
  <ng-container *ngIf="steps[0].state === 'active'">
    <grs-action type="brand" (click)="activateAddStakeholders()">Next</grs-action>
  </ng-container>
  <ng-container *ngIf="steps[1].state === 'active'">
    <grs-action type="neutral" (click)="activateNewProject()">Previous</grs-action>
    <grs-action class="slds-m-left_x-small" type="brand" (click)="activateSummary()">Next</grs-action>
  </ng-container>
  <ng-container *ngIf="steps[2].state === 'active'">
    <grs-action type="neutral" (click)="activateAddStakeholders()">Previous</grs-action>
    <grs-action class="slds-m-left_x-small" type="brand" (click)="completeWizard()">Complete</grs-action>
  </ng-container>
</div>
