@import '~app/app.vars.scss';

:host {
    display: inline-block;
}

$fill: #738ef8;

.slds-checkbox_toggle {
    width: 100%;
    &.is-static {
        min-height: 32px;
    }
}

.slds-checkbox_toggle .slds-checkbox_faux {
    display: block;
    position: relative;
    width: 34px;
    height: 22px;
    padding: 0 0.125rem;
    border-radius: 15rem;
    border: 1px solid $fill;
}

.slds-checkbox_toggle .slds-checkbox_faux:hover,
.slds-checkbox_toggle .slds-checkbox_faux:focus {
    cursor: pointer;
}

.slds-checkbox_toggle .slds-checkbox_faux:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 15rem;
    border: 1px solid $fill;
    width: 16px;
    height: 16px;
}

.slds-checkbox_toggle [type="checkbox"] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

@import './toggle.checked.scss';
@import './toggle.disabled.scss';
