:host {
    display: block;
}

.slds-checkbox_toggle {
    width: 100%;
    &.is-static {
        min-height: 32px;
    }
}

.slds-checkbox_toggle .slds-checkbox_faux {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    padding: 0 0.125rem;
    border-radius: 15rem;
    border: 1px solid #e5ebef;
    transition: background-color 0.2s cubic-bezier(0.75, 0, 0.08, 1);
    background: #fff;
}

.slds-checkbox_toggle .slds-checkbox_faux:hover,
.slds-checkbox_toggle .slds-checkbox_faux:focus {
    cursor: pointer;
}

.slds-checkbox_toggle .slds-checkbox_faux:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e5ebef;
    width: 19px;
    height: 19px;
}

.slds-checkbox_toggle [type="checkbox"] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"]:checked~.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux {
    background: transparent;
    border: 1px solid #765AFF;
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux:focus,
.slds-checkbox_toggle [type="checkbox"]:checked~.slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"]:checked~.slds-checkbox_faux:focus,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:focus {
    // background: darken(#765AFF, 5%);
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux:before,
.slds-checkbox_toggle [type="checkbox"]:checked~.slds-checkbox_faux:before,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:before {
    content: '';
    position: absolute;
    background-color: #765AFF;
    border-radius: 50%;
    // box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s cubic-bezier(0.75, 0, 0.08, 1);
    top: 2px;
    right: 2px;
    width: 19px;
    height: 19px;
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux:after,
.slds-checkbox_toggle [type="checkbox"]:checked~.slds-checkbox_faux:after,
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after {
    display: none;
}

.slds-checkbox_toggle [type="checkbox"]:checked:focus+.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"]:checked:focus~.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"]:checked:focus+.slds-checkbox_faux_container .slds-checkbox_faux {
    // background-color: #765AFF;
}

.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"][disabled]~.slds-checkbox_faux,
.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux {
    background-color: darken(#e5ebef, 3%);
    opacity: 0.45;
    border-color: #e5ebef;
    pointer-events: none;
}

.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux:after,
.slds-checkbox_toggle [type="checkbox"][disabled]~.slds-checkbox_faux:after,
.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux:after {
    background-color: lighten(#E5EBEF, 5%);
}

.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux:focus,
.slds-checkbox_toggle [type="checkbox"][disabled]~.slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"][disabled]~.slds-checkbox_faux:focus,
.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux:hover,
.slds-checkbox_toggle [type="checkbox"][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux:focus {
    cursor: default;
}

.slds-checkbox_toggle [type="checkbox"][disabled]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:before {
    background-color: lighten(#E5EBEF, 5%);
}

.slds-checkbox_toggle [type="checkbox"][disabled]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after {
    background-color: transparent;
}
