<div class="grs-tabs">
  <ul
    class="grs-tabs__nav"
    role="tablist"
    >
    <li
      *ngFor="let tab of tabs"
      (click)="setTab(tab.id)"
      class="grs-tabs__item"
      [ngClass]="{
        'grs-is-active' : tab.id === currentTabId
      }"
      title="Item One"
      role="presentation"
      >
      <a
        class="grs-tabs__link"
        href="javascript:void(0);"
        role="tab"
        tabindex="0"
        aria-selected="true"
        >
        {{tab.label}}
      </a>
    </li>
  </ul>
  <div
    class="grs-tabs__content"
    [ngClass]="tab.id == currentTabId ? 'slds-show' : 'slds-hide' "
    *ngFor="let tab of tabs"
    role="tabpanel"
    >
    <ng-container *ngIf="tab.id === 1">
      <grs-tab-details></grs-tab-details>
    </ng-container>
    <ng-container *ngIf="tab.id === 2">
      <grs-tab-finishes></grs-tab-finishes>
    </ng-container>
    <ng-container *ngIf="tab.id === 3">
      <grs-tab-labor></grs-tab-labor>
    </ng-container>
    <ng-container *ngIf="tab.id === 4">
      <grs-tab-data-table></grs-tab-data-table>
    </ng-container>
  </div>
</div>
