<div class="grs-tabs">
  <ul
    class="grs-tabs__nav"
    role="tablist"
    >
    <li
      *ngFor="let tab of tabs"
      (click)="setTab(tab.id)"
      class="grs-tabs__item"
      [ngClass]="{
        'grs-is-active' : tab.id === currentTabId
      }"
      title="Item One"
      role="presentation"
      >
      <a
        class="grs-tabs__link"
        href="javascript:void(0);"
        role="tab"
        tabindex="0"
        aria-selected="true"
        >
        {{tab.label}}
      </a>
    </li>
  </ul>
  <div
    class="grs-tabs__content"
    [ngClass]="tab.id == currentTabId ? 'slds-show' : 'slds-hide' "
    *ngFor="let tab of tabs"
    role="tabpanel"
    >
    {{tab.content}}
  </div>
</div>
