<div class="slds-form slds-form_stacked tab-details__form">

  <div class="slds-form-element">
    <label class="slds-form-element__label">Type</label>
    <div class="slds-form-element__control">
      <grs-select></grs-select>
    </div>
  </div>


  <div class="slds-form-element">
    <label class="slds-form-element__label">Contact</label>
    <div class="slds-form-element__control">
      <grs-lookup></grs-lookup>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Role</label>
    <div class="slds-form-element__control">
      <grs-select></grs-select>
    </div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Pricing</label>
    <div class="slds-form-element__control">
      <grs-select></grs-select>
    </div>
  </div>
</div>
