<div class="
  slds-file-selector
  slds-file-selector_images
  grs-uploader
  ">
  <div
    class="
      slds-file-selector__dropzone
      grs-uploader__dropzone
      "
    >
    <input
      type="file"
      class="slds-file-selector__input slds-assistive-text"
      accept="image/png"
      aria-labelledby="file-selector-primary-label file-selector-secondary-label"
    />
    <label
      class="slds-file-selector__body"
      for="file-upload-input-01"
      id="file-selector-secondary-label"
      >
      <div class="slds-grid slds-grid_vertical slds-grid_vertical-align-center slds-grid_align-center">
        <div
          class="
            slds-icon
            slds-icon_large
            grs-uploader__icon
            ">
         <grs-icon type="upload"></grs-icon>
        </div>
        <div class="slds-m-top_medium">
          <span class="
            slds-file-selector__text
            grs-uploader__text
            ">
            Drag file or Click Here
          </span>
        </div>
      </div>
    </label>
  </div>
</div>
