$colors: (
  primary: (
    base: #344697,
    lighten: lighten(#344697, 7%),
    light: lighten(#344697, 10%),
    dark: darken(#344697, 15%),
    text: #344697,
    hover: #DBF8F3,
    hoverlight: rgba(#344697, 0.26)
  ),
  neutral : (
    base: #F0F3F5,
    light: lighten(#F0F3F5, 10%),
    dark: darken(#F0F3F5, 15%)
  ),
  info: (
    base: #ef7701,
    light: lighten(#ef7701, 10%),
    lighten: lighten(#ef7701, 15%),
    dark: darken(#ef7701, 15%)
  ),
  active: (
    base: #3D7AEE,
    light: lighten(#3D7AEE, 5%),
    lighten: lighten(#3D7AEE, 10%),
    dark: darken(#3D7AEE, 5%),
    darken: darken(#3D7AEE, 10%)
  )
) !default;

$backgrounds: (
  ground: #fffcf9
) !default;

$font: (
  family: Lato,
  colors: (
    brand: #161517,
    subbrand: #302d32
  )
) !default;


@mixin underline-animation(){
  & {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #16d9b5;
      opacity: 0;
      transform-origin: 50%;
      transform: scaleX(.5);
      transition-property: transform, opacity;
      transition-duration: .35s;
      transition-timing-function: cubic-bezier(.55,0,.55,.2)
    }
    &.focused {
      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}
