@import '~app/app.vars.scss';

.grs {
  font-family: map-get($map: $font, $key: family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2px 24px;
}

.grs-container {
  padding: 12px;
  padding-left: 24px;
  position: relative;
  background-color: #fff;
}

.grs-form-element__label {
  color: darken(#9ba4a9, 20%);
  font-weight: 300;
  font-size: 0.85rem;
}
