<div class="grs">
  <div class="grs-container">

    <grs-action (click)="isModalOpen = !isModalOpen">
      Open Modal
    </grs-action>

    <grs-modal [open]="isModalOpen">
      <div class="slds-form slds-form_stacked">
        <div class="slds-form-element">
          <label class="slds-form-element__label grs-form-element__label">Account</label>
          <div class="slds-form-element__control">
            <grs-input></grs-input>
          </div>
        </div>
        <div class="slds-form-element">
          <label class="slds-form-element__label grs-form-element__label" for="input-id-02">Description</label>
          <div class="slds-form-element__control">
            <grs-textarea></grs-textarea>
          </div>
        </div>
        <fieldset class="slds-form-element">
          <legend class="slds-form-element__legend slds-form-element__label grs-form-element__label">Actions</legend>
          <div class="slds-form-element__control">
            <grs-checkbox checked="true"></grs-checkbox>
          </div>
          <div class="slds-form-element__control">
            <grs-checkbox checked="true"></grs-checkbox>
          </div>
        </fieldset>
        <fieldset class="slds-form-element">
          <legend class="slds-form-element__legend slds-form-element__label grs-form-element__label">Public</legend>
        <div class="slds-form-element__control">
          <grs-toggle checked="true"></grs-toggle>
        </div>
      </fieldset>
      <div class="slds-form-element">
          <label class="slds-form-element__label grs-form-element__label">Select Label</label>
          <div class="slds-form-element__control">
            <grs-select></grs-select>
          </div>
        </div>
    </div>
  </grs-modal>

  <div class="slds-grid slds-m-bottom_small">
    <grs-checkbox></grs-checkbox>
    <grs-checkbox checked="true"></grs-checkbox>
    <grs-checkbox checked="true" disabled="true"></grs-checkbox>
    <grs-checkbox disabled="true"></grs-checkbox>
  </div>

  <div class="slds-grid slds-m-bottom_small">
    <div>
      <grs-toggle></grs-toggle>
    </div>

    <div class="slds-m-left_small">
      <grs-toggle checked="true"></grs-toggle>
    </div>

    <div class="slds-m-left_small">
      <grs-toggle checked="true" disabled="true"></grs-toggle>
    </div>

    <div class="slds-m-left_small">
      <grs-toggle disabled="true"></grs-toggle>
    </div>
  </div>

  <div class="slds-grid slds-m-bottom_small">
    <grs-radio></grs-radio>
    <grs-radio checked="true"></grs-radio>
    <grs-radio disabled="true"></grs-radio>
    <grs-radio checked="true" disabled="true"></grs-radio>
  </div>

  <div class="slds-grid slds-m-bottom_small">
    <grs-action>
      Default
    </grs-action>

    <grs-action disabled="true" class="slds-m-left_x-small">
      Default Disabled
    </grs-action>
  </div>

  <div class="slds-grid slds-m-bottom_small">
    <grs-action type="brand">
      Submit
    </grs-action>

    <grs-action type="brand" disabled="true" class="slds-m-left_x-small">
      Submit Disabled
    </grs-action>
  </div>

  <div class="slds-grid slds-m-bottom_small">
    <grs-action type="neutral">
      Cancel
    </grs-action>
    <grs-action type="neutral" disabled="true" class="slds-m-left_x-small">
      Cancel Disabled
    </grs-action>
  </div>

  <grs-preloader></grs-preloader>
  <grs-tabs></grs-tabs>
  </div>
</div>
