<div class="grs">
  <div class="grs-container">

    <nav class="slds-m-bottom_small slds-hide">
      <a
        routerLink="/transactions"
        routerLinkActive="slds-button_brand"
        class="slds-button slds-button_neutral"
        >
        Transactions
      </a>
      <a
        routerLink="/elements"
        routerLinkActive="slds-button_brand"
        class="slds-button slds-button_neutral"
        >
        Elements
      </a>
    </nav>
    <grs-sidebar></grs-sidebar>
    <router-outlet></router-outlet>
  </div>
</div>

