$colors: (
  primary: (
    base: #16d9b5,
    lighten: lighten(#16d9b5, 7%),
    light: lighten(#16d9b5, 10%),
    dark: darken(#16d9b5, 15%),
    text: #16d9b5,
    hover: #DBF8F3,
    hoverlight: rgba(#16d9b5, 0.26)
  ),
  neutral : (
    base: #F0F3F5,
    light: lighten(#F0F3F5, 10%),
    dark: darken(#F0F3F5, 15%)
  ),
  info: (
    base: #ff8147,
    light: lighten(#ff8147, 10%),
    lighten: lighten(#ff8147, 15%),
    dark: darken(#ff8147, 15%)
  ),
  active: (
    base: #3D7AEE,
    light: lighten(#3D7AEE, 5%),
    lighten: lighten(#3D7AEE, 10%),
    dark: darken(#3D7AEE, 5%),
    darken: darken(#3D7AEE, 10%)
  )
) !default;

$backgrounds: (
  ground: #fffcf9
) !default;

$font: (
  family: 'PT Sans',
  colors: (
    brand: #161517,
    subbrand: #302d32
  )
) !default;
