<grs-icon-action
  [type]="isSidebarOpen ? 'left' : 'right'"
  straight="true"
  [options]="{
    size: 'small',
    theme: 'dark'
  }"
  (click)="isSidebarOpen = !isSidebarOpen"
  ></grs-icon-action>

<div
  class="
    slds-grid
    slds-grid_vertical
    grs-sidebar
    "
  *ngIf="isSidebarOpen"
  [@flyInOut]="'in'"
  >
  <header
    class="
      slds-p-vertical_small
      slds-p-horizontal_small
      slds-shrink-none
      grs-sidebar__header
      "
    >

  </header>
  <section class="
    slds-grow
    slds-p-horizontal_small
    slds-scrollable_y
    grs-sidebar__body
    ">
    <ul>
      <li
        *ngFor="let item of list"
        class="
          slds-grid
          slds-grid_vertical-align-center
          grs-sidebar__item
          slds-p-vertical_xx-small
          slds-p-horizontal_x-small
          "
        >
        <div class="
          slds-m-right_small
          slds-m-bottom_x-small
          grs-sidebar__item-icon
          ">
          <grs-icon type="{{item.icon}}"></grs-icon>
        </div>
        {{item.label}}
      </li>
    </ul>
  </section>
  <!-- <footer
    class="
      slds-shrink-none
      slds-p-vertical_small
      slds-p-horizontal_x-small
      slds-grid
      slds-grid_align-end
      grs-sidebar__footer
      "
      >
    <grs-action type="neutral">Cancel</grs-action>
    <grs-action type="brand" class="slds-m-left_x-small">Save</grs-action>
  </footer> -->
</div>
