<div class="
    slds-grid
    slds-grid_vertical
    slds-p-top_large
    grs-sidebar
    ">
  <header class="
      slds-p-vertical_small
      slds-p-horizontal_small
      slds-shrink-none
      grs-sidebar__header
      ">

  </header>
  <section class="
    slds-grow
    slds-p-horizontal_small
    slds-scrollable_y
    grs-sidebar__body
    ">

    <mat-list>
      <h3 mat-subheader>Pages</h3>
      <mat-list-item *ngFor="let item of list">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{item.label}}</h4>
      </mat-list-item>
    </mat-list>


    <!-- <ul>
      <li
        *ngFor="let item of list"
        class="
          slds-grid
          slds-grid_vertical-align-center
          grs-sidebar__item
          slds-p-vertical_xx-small
          slds-p-horizontal_x-small
          "
        >
        <div class="
          slds-m-right_small
          slds-m-bottom_x-small
          grs-sidebar__item-icon
          ">
          <grs-icon type="{{item.icon}}"></grs-icon>
        </div>
        {{item.label}}
      </li>
    </ul> -->
  </section>
</div>
