:host {
  display: block;
}

.pagination-group {}

.pagination-button {
  border: none;
  line-height: 2rem;
  color: #1b1e21;
  font-size: 14px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0 !important;
  &:hover,
  &:focus {
    background-color: transparent;
  }
  &:focus,
  &:active {
    color: #1b1e21;
    box-shadow: none;
  }
  + .pagination-button {
    margin-left: 0.5rem;
  }
}
.pagination-button_active {
  font-weight: 600;
  position: relative;
  background-color: #f72f5f;
  color: #fff;
  border-radius: 0.125rem !important;
  &:hover {
    color: #fff;
    background-color: darken(#f72f5f, 2%);
  }
  &:focus {
    color: #fff;
    background-color: darken(#f72f5f, 3%);
  }
}
