:host {
  display: block;
}

.pagination-group {}

.pagination-button {
  border: none;
  line-height: 2rem;
  color: #FDD835;
  font-weight: bold;
  font-size: 14px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0 !important;
  &:hover,
  &:focus {
    background-color: transparent;
    color: #FDD835;
  }
  &:focus,
  &:active {
    box-shadow: none;
    color: #FDD835;
  }
  + .pagination-button {
    margin-left: 0;
  }
}
.pagination-button_active {
  position: relative;
  color: #FFC400;
  &:hover,
  &:focus,
  &:active {
    color: #FFC400;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: #FFC400;
  }
  &:hover {
    &::after {
      background-color: #FFC400;
    }
  }
}
