:host {
  display: block;
}

.transaction-header__icon {
  fill: #49464c;
}

.transaction-header__title {
  color: #49464c;
  font-size: 15px;
  text-transform: uppercase;
  span {
    font-weight: 300;
  }
}

.transaction-header__subheader {
  color: #b1b1b3;
}
