<header class="slds-p-bottom_x-small">
  <div class="slds-grid slds-grid_align-spread">
    <div>
      <div class="slds-grid">
        <!-- Icon -->
        <div class="
          slds-icon
          slds-icon_x-small
          slds-m-top_xx-small
          transaction-header__icon
          ">
          <grs-icon type="transaction"></grs-icon>
        </div>
        <!-- / Icon -->
        <!-- Heading -->
        <div class="slds-m-left_small transaction-header__title">
          Transaction
          <span>- GGSLAB-8729</span>
          <div class="
            slds-grid
            slds-grid_vertical-align-center
            transaction-header__subheader
            ">
            <span class="transaction-header__indicator slds-m-right_x-small"></span>
            Project
            <span>- Fields Construction Services - Mcqueary - Ferndale</span>
          </div>
        </div>
        <!-- / Heading -->
      </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center">
      <grs-action type="neutral" (click)="onToggleMode()">
        <span *ngIf="!TS.isEditMode">Edit</span>
        <span *ngIf="TS.isEditMode">Cancel</span>
      </grs-action>
      <grs-icon-action type="timer" class="slds-m-left_small"></grs-icon-action>
      <grs-icon-action type="edit" class="slds-m-left_x-small"></grs-icon-action>
      <grs-icon-action type="delete" class="slds-m-left_x-small"></grs-icon-action>
      <grs-icon-action type="copy" class="slds-m-left_x-small"></grs-icon-action>
      <grs-action type="brand" class="slds-m-left_x-small">NEW PO</grs-action>
      <grs-action type="brand" class="slds-m-left_x-small">NEW INVOICE</grs-action>
    </div>
  </div>
</header>
