@import '~app/app.vars.scss';

:host {
  display: block;

}

// header {
//   border-bottom: 1px solid map-get(map-get($map: $colors, $key: info), light);
// }

.transaction-header__icon {
  fill: #687173;
}

.transaction-header__title {
  color: #1b1e21;
  font-size: 15px;
  text-transform: uppercase;
  span {
    font-weight: 300;
  }
}

.transaction-header__subheader {
  color: #262b30;
  font-size: 12px;
}

.transaction-header__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #f72f5f;
  display: block;
}
