<header>
  <div class="slds-grid slds-grid_align-spread">
    <div>
      <div class="slds-grid slds-grid_vertical-align-center">
        <div class="
          slds-icon
          slds-icon_small
          slds-m-top_x-small
          slds-p-top_xx-small
          transaction-header__icon
          ">
          <grs-icon type="transaction"></grs-icon>
        </div>
        <div class="slds-m-left_small transaction-header__title">
          Transactions <span>- GGSLAB-8729</span>
        </div>
      </div>
      <div class="slds-m-left_large slds-p-left_small transaction-header__subheader">
        Project <span>- Fields Construction Services - Mcqueary - Ferndale</span>
      </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center">
      <grs-action type="neutral">Edit</grs-action>
      <grs-icon-action type="timer" class="slds-m-left_small"></grs-icon-action>
      <grs-icon-action type="edit" class="slds-m-left_x-small"></grs-icon-action>
      <grs-icon-action type="delete" class="slds-m-left_x-small"></grs-icon-action>
      <grs-icon-action type="copy" class="slds-m-left_x-small"></grs-icon-action>
      <grs-action type="brand" class="slds-m-left_x-small">NEW PO</grs-action>
      <grs-action type="brand" class="slds-m-left_x-small">NEW INVOICE</grs-action>
      <grs-action type="brand" class="slds-m-left_x-small">NEW DELIVERY</grs-action>
    </div>
  </div>
</header>
