@import "~app/app.vars";

:host {
    display: block;
}

.grs-tree-view {
  border-top: none;
  border-bottom: none;
    th,
    td {
        font-size: 14px;
        font-family: map-get($map: $font, $key: family);
        color: map-get(map-get($map: $font, $key: colors), brand);
        font-weight: 300;
    }
    thead {
      tr {
        border-bottom: none;
      }
      th {
        color: map-get(map-get($map: $font, $key: colors), brand);
        background: transparent;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-top: none !important;
        border-bottom: 1px solid #f1f1f1;
      }
    }
    tbody {
      tr:hover {
        td,
        th {
          box-shadow: none !important;
          background-color: map-get(map-get($map: $colors, $key: info), lighten);
          border-bottom: 1px solid map-get(map-get($map: $colors, $key: info), base);
        }
      }
      th {
        border-top: none !important;
        border-bottom: 1px solid transparent;
      }
      td {
        border-top: none;
        border-bottom: 1px solid transparent;
        // padding-top: 0.5rem;
        // padding-bottom: 0.5rem;
      }
    }
}

.grs-tree-view__item {
  border-top: none;
  .grs-tree-view__item-icon-container {
    height: 2rem;
  }
  .grs-tree-view__item-link {
    color: map-get(map-get($map: $font, $key: colors), subbrand);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
  }
}
