<table
  class="
    slds-table
    slds-table_bordered
    slds-tree
    slds-table_tree
    grs-tree-view
    "
  role="treegrid"
  aria-readonly="true"
  >
  <thead>
    <tr class="slds-text-title_caps">
      <th class="slds-cell-buffer_left" scope="col">
        <div class="slds-grid slds-grid_vertical-align-center">
          <grs-icon-action
            (click)="isHeaderCollapsed = false"
            [options]="{
              transparent: true,
              size: 'x-small',
              theme: 'dark'
            }"
            [type]="isHeaderCollapsed ? 'collapse' : 'expand'"
            ></grs-icon-action>
          <div class="slds-truncate slds-m-left_x-small" title="Account Name">Account Name</div>
        </div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Employees">Employees</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Phone Number">Phone Number</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Account Owner">Account Owner</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Billing City">Billing City</div>
      </th>
      <th class="slds-cell-shrink" scope="col">
        <div class="slds-grid slds-grid_align-end">
          <grs-icon-action
            [options]="{
              transparent: true,
              size: 'x-small',
              theme: 'dark'
            }"
            (click)="isHeaderCollapsed = false"
            [type]="isHeaderCollapsed ? 'collapse' : 'expand'"
            ></grs-icon-action>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of list"
      [attr.aria-level]="item.level"
      aria-posinset="1"
      aria-setsize="4"
      class="slds-hint-parent"
      tabindex="0"
      >
      <th class="slds-tree__item grs-tree-view__item" data-label="Account Name" scope="row">
        <div class="grs-tree-view__item-icon-container">
            <grs-icon-action
            (click)="item.isCollapsed = false"
            [options]="{
              transparent: true,
              size: 'x-small',
              theme: 'dark'
            }"
            [type]="isHeaderCollapsed ? 'collapse' : 'expand'"
            ></grs-icon-action>
        </div>
        <div class="slds-truncate slds-m-left_x-small slds-m-top_xx-small" title="Rewis Inc">
          <a href="javascript:void(0);" class="grs-tree-view__item-link" tabindex="-1">Rewis Inc</a>
        </div>
      </th>
      <td data-label="Employees" role="gridcell">
        <div class="slds-truncate" title="3,100">3,100</div>
      </td>
      <td data-label="Phone Number" role="gridcell">
        <div class="slds-truncate" title="837-555-1212">837-555-1212</div>
      </td>
      <td data-label="Account Owner" role="gridcell">
        <div class="slds-truncate" title="Jane Doe">
          <a href="javascript:void(0);" tabindex="-1">Jane Doe</a>
        </div>
      </td>
      <td data-label="Billing City" role="gridcell">
        <div class="slds-truncate" title="Phoenix, AZ">Phoenix, AZ</div>
      </td>
      <td class="slds-cell-shrink" role="gridcell">
        <div class="slds-grid slds-grid_align-end">
          <grs-icon-action
            type="preview"
            [options]="{
              transparent: true
            }"
            ></grs-icon-action>
          <grs-icon-action
            type="edit"
            class="slds-m-left_x-small"
            [options]="{
              transparent: true
            }"
            ></grs-icon-action>
          <grs-icon-action
            type="delete"
            class="slds-m-left_x-small"
            [options]="{
              transparent: true
            }"
            ></grs-icon-action>
          <grs-icon-action
            type="copy"
            class="slds-m-left_x-small"
            [options]="{
              transparent: true
            }"
            ></grs-icon-action>
        </div>
      </td>
    </tr>

  </tbody>
</table>
