:host {
  display: block;
  position: relative;
}

.tab-details__form {
  .slds-form-element {
    + .slds-form-element {
      margin-top: 1.5rem;
    }
  }
}

.tab-details_col {
  border-radius: 0.125rem;
  background-color: #fff;
}
