<grs-preloader *ngIf="isPreloaderActive"></grs-preloader>

<grs-tree-view class="slds-m-bottom_large"></grs-tree-view>

<div class="slds-grid slds-gutters slds-p-horizontal_x-small">
  <div class="slds-col slds-size_1-of-3 slds-p-around_x-small tab-details_col">

    <div class="slds-form slds-form_stacked tab-details__form">

      <div class="slds-form-element">
        <label class="slds-form-element__label">Transaction Number</label>
        <div class="slds-form-element__control">
          <div *ngIf="!TS.isEditMode" class="slds-form-element__static">
            John Williams
          </div>
          <grs-input *ngIf="TS.isEditMode"></grs-input>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">Client</label>
        <div class="slds-form-element__control">
          <div *ngIf="!TS.isEditMode" class="slds-form-element__static">
            Anthony Dawson
          </div>
          <grs-input *ngIf="TS.isEditMode"></grs-input>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">POC</label>
        <div class="slds-form-element__control">
          <div *ngIf="!TS.isEditMode" class="slds-form-element__static">
            John Williams
          </div>
          <grs-input *ngIf="TS.isEditMode"></grs-input>
        </div>
      </div>

    </div>

  </div>
  <div class="slds-col slds-size_1-of-3 slds-p-around_x-small tab-details_col">
    <div class="slds-form slds-form_stacked tab-details__form">

      <div class="slds-form-element">
        <label class="slds-form-element__label">Expedite</label>
        <div class="slds-form-element__control">
          <grs-toggle checked="true" static="true"></grs-toggle>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">Deposit</label>
        <div class="slds-form-element__control">
          <div *ngIf="!TS.isEditMode" class="slds-form-element__static">
            50%
          </div>
          <grs-input *ngIf="TS.isEditMode"></grs-input>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">Show Manufacturer</label>
        <div class="slds-form-element__control">
          <grs-toggle checked="false" disabled="true" static="true"></grs-toggle>
        </div>
      </div>

    </div>
  </div>
  <div class="slds-col slds-size_1-of-3 slds-p-around_x-small tab-details_col">
    <div class="slds-form slds-form_stacked tab-details__form">
      <div class="slds-form-element">
        <label class="slds-form-element__label">User Account</label>
        <div class="slds-form-element__control">
          <grs-lookup (itemSelect)="onItemSelect()"></grs-lookup>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">State</label>
        <div class="slds-form-element__control">
          <grs-select></grs-select>
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label">Supplier</label>
        <div class="slds-form-element__control">
          <grs-action type="brand" (click)="isSetSupplierModalOpen = !isSetSupplierModalOpen">
            Set Supplier
          </grs-action>
          <grs-modal [open]="isSetSupplierModalOpen">
            <div class="slds-form slds-form_stacked">
              <div class="slds-form-element">
                <label class="slds-form-element__label grs-form-element__label">Account</label>
                <div class="slds-form-element__control">
                  <grs-input></grs-input>
                </div>
              </div>
              <div class="slds-form-element">
                <label class="slds-form-element__label grs-form-element__label" for="input-id-02">Description</label>
                <div class="slds-form-element__control">
                  <grs-textarea></grs-textarea>
                </div>
              </div>
              <fieldset class="slds-form-element">
                <legend class="slds-form-element__legend slds-form-element__label grs-form-element__label">Actions</legend>
                <div class="slds-form-element__control">
                  <grs-checkbox checked="true"></grs-checkbox>
                </div>
                <div class="slds-form-element__control">
                  <grs-checkbox checked="true"></grs-checkbox>
                </div>
              </fieldset>
              <fieldset class="slds-form-element">
                <legend class="slds-form-element__legend slds-form-element__label grs-form-element__label">Public</legend>
                <div class="slds-form-element__control">
                  <grs-toggle checked="true"></grs-toggle>
                </div>
              </fieldset>
              <div class="slds-form-element">
                <label class="slds-form-element__label grs-form-element__label">Select Label</label>
                <div class="slds-form-element__control">
                  <grs-select></grs-select>
                </div>
              </div>
              <div class="slds-form-element">
                <label class="slds-form-element__label grs-form-element__label">Upload</label>
                <div class="slds-form-element__control">
                  <grs-uploader style="width: 300px"></grs-uploader>
                </div>
              </div>
            </div>
          </grs-modal>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="slds-grid slds-gutters slds-p-horizontal_x-small slds-m-top_small">
  <div class="slds-col slds-size_2-of-3 slds-p-around_x-small tab-details_col">
    <div class="slds-form-element">
      <label class="slds-form-element__label">Notes</label>
      <div class="slds-form-element__control">
        <grs-textarea></grs-textarea>
      </div>
    </div>
  </div>
</div>
