
.input-container {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #16d9b5;
    opacity: 0;
    transform-origin: 50%;
    transform: scaleX(.3);
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.55,0,.55,.2)
  }
}
.input-has-focus {
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
}

.grs-input {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 1.25rem;
    min-height: 1.25rem;
    font-size: 13px;
    font-weight: 600;
    border: none;
    color: #49474c;
    background-color: #f5f7f7;
    transition-property: box-shadow, background, border-bottom-left-radius, border-bottom-right-radius;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.55,0,.55,.2);
    &:active,
    &:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: darken(#f5f7f7, 1%);
      box-shadow: inset 0 0 3px rgba(0,0,0,0.05);
    }
}
