<!-- <div class="slds-form-element">
  <div class="slds-form-element__control">
    <span class="slds-checkbox">
      <input type="checkbox" [disabled]="disabled" [checked]="checked" />
      <label class="slds-checkbox__label">
        <span class="slds-checkbox_faux"></span>
        <span class="slds-form-element__label" *ngIf="label">{{label}}</span>
      </label>
    </span>
  </div>
</div> -->

<mat-checkbox
  [disabled]="disabled"
  [(ngModel)]="checked"
  color="primary"
  >
  {{label}}
</mat-checkbox>
