<div class="slds-combobox_container">
  <div
    class="
      slds-combobox
      slds-dropdown-trigger
      slds-dropdown-trigger_click
      "
    aria-expanded="true"
    aria-haspopup="listbox"
    role="combobox"
    [ngClass]="{
      'slds-is-open' : isDropdownVisible
    }"
    >
    <div
      class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
      role="none"
      >
      <!-- <input
        type="text"
        class="slds-input slds-combobox__input slds-has-focus slds-combobox__input-value" id="combobox-id-10"
        aria-controls="listbox-id-7"
        autoComplete="off"
        role="textbox"
        placeholder="Select an Option"
        readonly=""
        value="2 Options Selected"
      /> -->
      <grs-input
        icon="true"
        (iconClick)="isDropdownVisible = false"
        (inputFocus)="isDropdownVisible = true"
        placeholder="Select an Option"
        [value]="selected.length > 0 ? '1 Option Selected' : ''"
        >
      </grs-input>

    </div>
    <div
      class="
        slds-dropdown
        slds-dropdown_length-5
        slds-dropdown_fluid
        grs-multi-select__dropdown
        "
      role="listbox"
      >
      <ul class="slds-listbox slds-listbox_vertical" role="presentation">
        <li
          *ngFor="let option of options"
          role="presentation"
          class="slds-listbox__item multi-select__dropdown-item"
          (click)="onOptionSelect()"
          >
          <div
            class="
              slds-media
              slds-listbox__option
              slds-listbox__option_plain
              slds-media_small
              slds-is-selected
              multi-select__dropdown-item-option
              "
            role="option"
            >
            <span class="slds-media__figure">
             <grs-checkbox [checked]="option.selected"></grs-checkbox>
            </span>
            <span class="slds-media__body">
              <span class="slds-truncate" title="Accounts">
                <span class="slds-assistive-text">Current Selection:</span> {{option.label}}</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div
  *ngIf="selected"
  class="
  slds-listbox_selection-group
  slds-m-vertical_small
  slds-m-horizontal_x-small
  ">
  <ul
    class="slds-listbox slds-listbox_horizontal"
    role="listbox"
    aria-label="Selected Options:"
    aria-orientation="horizontal"
    >
    <li
      class="slds-listbox-item"
      role="presentation"
      *ngFor="let select of selected"
      (click)="onRemoveSelected()"
      >
      <span
        class="slds-pill multi-select__pill"
        role="option"
        tabindex="0"
        aria-selected="true"
        >
        <span
          class="slds-pill__label multi-select__pill-label"
          title="Accounts"
          >
          {{select.label}}
        </span>
        <span class="
          slds-icon_container
          slds-pill__remove
          multi-select__pill-remove
          "
          >
        </span>
      </span>
    </li>
  </ul>
</div>
