<button class="
  slds-button
  slds-button_icon
  slds-button_icon-border-filled
  grs-icon-action
  "
  [ngClass]="{
    'grs-icon-action_straight' : straight,
    'grs-icon-action_transparent' : options?.transparent,
    'grs-icon-action_x-small' : (options.size === 'x-small'),
    'grs-icon-action_small' : (options.size === 'small'),
    'grs-icon-action_dark' : (options.theme === 'dark'),
    'grs-icon-action_case' : (subtype === 'case')
  }">
  <div class="
    slds-grid
    slds-grid_align-center
    slds-grid_vertical-align-center
    ">
    <grs-icon
      type="{{type}}"
      class="
        slds-button__icon
        grs-icon-action__button-icon
        "
      ></grs-icon>
  </div>
</button>
