@import '~app/app.vars.scss';

:host {
  display: block;
}

.grs-lookup {
  border: none;
}

.grs-lookup__dropdown {
  border: none;
  border-radius: 0.125rem;
  padding: 0.125rem 0;
  max-width: calc(100% - 2px);

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

  .grs-lookup__option {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;

    &:hover,
    &:focus {
      background-color: #f6f6f6;
    }

  }
}

.grs-lookup__selected {
  padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 1.25rem;
    min-height: 1.25rem;
    color: #49474c;
    background-color: #f5f7f7;
}

.grs-lookup__selected-item {
  // background-color: map-get(map-get($map: $colors, $key: info), base);
  background-color: #ffb28e;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.125rem;
  padding: 0.125rem 0.5rem;
}

.grs-lookup__selected-close-icon {
  cursor: pointer;
  width: 14px;
  fill: #fff;
  border: 2px solid #fff;
  height: 14px;
  border-radius: 50%;
  display: block;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(25% + 2px);
    width: 2px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transform: rotate(45deg);

  }
  &::after {
    content: '';
    transform: rotate(-45deg);
    z-index: 1;
    position: absolute;
    top: 0;
    right: calc(25% + 1px);
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}
